.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .food-delivery-icon {
    width: 54px;
    height: 54px;
  }

  .item-count {
    position: absolute;
    font-size:18px;
    font-weight: bold;
    bottom: 12px;
    left:12px;
    top:40%;
  }
}
